@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}

.App {
  font-family: 'Poppins', sans-serif;

  color: #fff;

    .about-container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      padding: 2.5rem;

      h1 {
        font-size: 4rem;
      }

      .about-sub-title {
        font-size: 1.5rem;
        font-weight: 600;

        padding-top: 1rem;
        padding-bottom: 1rem;

        color: #ffffff71;
      }

      .about-body {
        font-size: 1.5rem;
        font-weight: 600;

        padding-bottom: 2rem;

        max-width: 85rem;
      }

    }
}